{% extends 'user.html.twig' %}

{% block title %}CCT{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">

	<div class="d-flex align-items-center justify-content-between">
		<a href="#" class="logo d-flex align-items-center">
			<img src="assets/img/logoCCT.PNG" alt="">
			<span class="d-none d-lg-block titleP">CarComponentTool</span>
		</a>
		<i class="bi bi-list toggle-sidebar-btn"></i>
	</div>
	<!-- End Logo -->

	<div class="search-bar">
		<form class="search-form d-flex align-items-center" method="POST" action="#">
			<input type="text" name="query" placeholder="Search" title="Enter search keyword">
			<button type="submit" title="Search">
				<i class="bi bi-search"></i>
			</button>
		</form>
	</div>
	<!-- End Search Bar -->

	<nav class="header-nav ms-auto">
		<ul class="d-flex align-items-center">

			<li class="nav-item d-block d-lg-none">
				<a class="nav-link nav-icon search-bar-toggle " href="#">
					<i class="bi bi-search"></i>
				</a>
			</li>
			<!-- End Search Icon-->

			

			

			<li class="nav-item dropdown pe-3">

				<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
					<img src="{{ asset('../build/images/logoothers/FT.jpg') }}" alt="Profile" class="rounded-circle">
					<span class="d-none d-md-block dropdown-toggle ps-2">{{app.user.fullname}}</span>
				</a>
				<!-- End Profile Iamge Icon -->

				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
					<li class="dropdown-header">
						<h6>{{app.user.fullname}}</h6>
						<span>{{app.user.hereas}}</span>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>


					<li>
						<a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
							<i class="bi bi-box-arrow-right"></i>
							<span>Sign Out</span>
						</a>
					</li>

				</ul>
				<!-- End Profile Dropdown Items -->
			</li>
			<!-- End Profile Nav -->

		</ul>
	</nav>
	<!-- End Icons Navigation -->

</header>
<!-- End Header -->

<main id="main" class="main">

	<div class="row">
		<div class="col-12">
			<h1>MailBox</h1>
			<p>
				You have reecieved a total of
				{{app.user.received|length}}
				messages.
			</p>
		</div>


	</div>
	{% for message in app.user.received %}
		{% set bold = "" %}
		{% if message.isRead == 0 %}
			{% set bold = " fw-bold" %}
		{% endif %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title {{bold}}">You got a new Message from " {{message.sender.fullname}} " at {{message.createdAt|date}} titled  <a href="{{path("read",{id: message.id}) }}">{{message.title}}</a>
        </h5>
				
					
				
				
				
					<a style="float : right" href="{{ path("delete", {id : message.id}) }}" class="btn btn-danger">Delete</a>
				
			</div>
		</div>
	</div>
</div>
<!-- End Vertically centered Modal-->{% endfor %}</main>{% endblock %}
